
<div class="library-container">
  <h2><body style="text-align:center"></body>Library Management</h2>
 
  <link rel="stylesheet" type="text/css"  href="books.css">
  <table>
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Author</th>
        <th>ISBN No</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through books and display in tabular format -->
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td><%= book.price %></td>
      </tr>
      <% books.forEach((book) => { %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td><%= book.price %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <script src="C:\Users\smart\libraryApp\src\scripts\bookcomponent.js"></script>
</div>
